<h1>Type in Your Client</h1>
<p><%= @error %></p>
<form action="/clients" method="post">
    <label>Name</label>
    <input type="text" name="name">
    <label>Bio</label>
    <textarea name="bio"></textarea>
    <label>Image URL</label> 
    <input type="text" name="image">
    <button type="submit">Add Client</button>
</form>